<app-header></app-header>
<div class="container">
    <div class="container-table">
        <table border="1" cellpadding="8">
        <thead>
          @if ( transactions().length > 0 ) {
            <tr>
              <th class="sorter" (click)="setSort('id')">ID</th>
              <th class="sorter" (click)="setSort('operation')">Operaci&oacute;n</th>
              <th class="sorter" (click)="setSort('amount')">Importe</th>
              <th class="sorter" (click)="setSort('customer')">Cliente</th>
              <th class="sorter" (click)="setSort('reference')">Referencia</th>
              <th class="sorter" (click)="setSort('status')">Estatus</th>
              <th></th>
            </tr>
          }
        </thead>
        <tbody>
          @for (tranx of transactions(); track tranx.id) {
            <tr>
              <td align="center">{{ tranx.id }}</td>
              <td>{{ tranx.operacion }}</td>
              <td align="right">${{ tranx.importe }}</td>
              <td>{{ tranx.cliente }}</td>
              <td>{{ tranx.referencia }}</td>
              <td class="status"><strong [class]="getStatusStyle(tranx.estatus)">{{ tranx.estatus }}</strong></td>
              <td style="text-align: center;">
                @if (tranx.estatus === 'Aprobada') {
                  <button (click)="cancel(tranx)">Cancelar</button>
                }
              </td>
            </tr>
          } @empty {
            <tr><td colspan="7" style="text-align: center;">No hay transacciones disponibles.</td></tr>
          }
        </tbody>
      </table>

      @if ( transactions().length > 0 ) {
        <div class="paginador">
          <button [class]="getButtonDisabled(isFirstPage())" [disabled]="isFirstPage()" (click)="pagPrev()">&#60;&#60; Anterior</button>
          <div class="pagina">
            <label>Num por pagina</label>
            <input class="input" type="text" (blur)="setSize($event)" placeholder="5" />
          </div>
          <button [class]="getButtonDisabled(isLastPage())" [disabled]="isLastPage()" (click)="pagNext()">Siguiente &#x3E;&#x3E;</button>
        </div>
      }

    </div>
    <div class="container-form">

      <h3>Registrar transacci&oacute;n</h3>
      
      <form (submit)="saveTransaction($event)">
        <div class="form-group">
          <label>Operaci&oacute;n</label>
          <input
            id="operacion"
            [formField]="tranxForm.operacion"
          />
        </div>
        <div class="form-group">
          <label>Importe</label>
          <input
            id="importe"
            [formField]="tranxForm.importe"
          />
        </div>
        <div class="form-group">
          <label>Cliente</label>
          <input
            id="cliente"
            [formField]="tranxForm.cliente"
          />
        </div>
        <div class="form-group">
          <label>Secreto</label>
          <input
            id="secreto"
            [formField]="tranxForm.secreto"
          />
        </div>

        @if (errorResponse()) {
          <ul>
            @for ( error of errorResponse(); track error.property ) {
              <li>
                <span>{{ error.message }}</span>
              </li>
            }
          </ul>
        }

        <button type="submit">Guardar</button>
      </form>
    </div>
</div>
